* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
  /* gotta learn css positioning */
}

.header-img {
  width: 100px;
  border-radius: 50px;
}

.start-of-the-page {
  display: flex;
  gap: 30px;
  align-items: center;
}

h1,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-weight: bold;
  font-size: 40px;
  color: rgb(9, 9, 9);
}

.home-page-title {
  text-decoration: none;
}

.home-page-title:link {
  color: rgb(9, 9, 9);
  text-decoration: none;
}

.home-page-title:hover {
  color: rgb(9, 9, 9);
  text-decoration: none;
}

.home-page-title:visited {
  color: rgb(9, 9, 9);
  text-decoration: none;
}

.home-page-title:active {
  color: rgb(9, 9, 9);
  text-decoration: none;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-weight: bold;
  font-size: 38px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 30px;
}

.nav-link {
  color: rgb(9, 9, 9);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.nav-link:link {
  color: rgb(9, 9, 9);
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(9, 9, 9);
  text-decoration: none;
  background-color: rgb(223, 223, 223);
}

.nav-link:visited {
  color: rgb(9, 9, 9);
  text-decoration: none;
}

.nav-link:active {
  color: rgb(9, 9, 9);
  text-decoration: none;
}

.body {
  display: flex;
  justify-content: space-between;
}

.aside {
  /* background-color: blueviolet; */
  padding: 10px 20px;
  margin: 10px 20px;
  flex-grow: 0.5;
  width: 3%;
}

.content {
  /* background-color: brown; */
  padding: 10px 20px;
  margin: 10px 20px;
  flex-grow: 3;
  width: 3%;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax (250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
}

.vid-list .thumbnail {
  width: 100%;
  border-radius: 7px;
}

.vid-list .flex-div {
  align-items: flex-start;
}

.vid-list a:link {
  color: rgb(9, 9, 9);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
}

.vid-list a:hover {
  color: rgb(9, 9, 9);
  text-decoration: underline;
  /* background-color: rgb(248, 248, 248); */
}

.vid-list a:visited {
  color: rgb(9, 9, 9);
  text-decoration: none;
}

.vid-list a:active {
  color: rgb(9, 9, 9);
  text-decoration: none;
}

.container {
  scroll-snap-type: y mandatory;
}

/* section {
  scroll-snap-align: start;
  overflow-y: scroll;
} */

/* .vid-list .blog-header {
  font-weight: 700;
  font-weight: bold;
  font-size: 40px;
} */

.blog-start {
  font-size: 50px;
  font-weight: 300;
  padding: 0px 30px;
  padding-bottom: 12px;
  margin: 0 px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(9, 9, 9);
}

.blog-content {
  font-size: 20px;
  padding: 10px 20px;
  line-height: 25px;
  letter-spacing: 0.7px;
}

section .blog-post {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.blog-post a:link {
  color: rgb(9, 9, 9);
  text-decoration: none;
  font-size: 1.1em;
  text-decoration: underline;
}

.blog-post a:hover {
  color: rgb(51, 51, 51);
  font-weight: 300;
  text-decoration: underline;
  /* background-color: rgb(248, 248, 248); */
}

.blog-post a:visited {
  color: rgb(9, 9, 9);
  text-decoration: none;
}

.blog-post a:active {
  color: rgb(9, 9, 9);
  text-decoration: none;
}

/* UL */
.ul1 {
  padding-left: 20px;

  .ul2 {
    padding-left: 20px;

    .ul3 {
      padding-left: 20px;
      list-style: lower-roman;
      font-weight: 400;
    }
  }
}

.samosa-padding {
  padding-top: 20px;
}
